In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# 定义数据集
dataPath = '../data/ex1data1.txt'
# names添加列名，header用指定的行来作为标题，若原无标题且指定标题则设为None
data = pd.read_csv(dataPath, header=None, names=["Population", 'Profit'])

In [3]:
# 获取数据集的前n行数据，默认为5
data.head()

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [4]:
# 计算数据集的最大值、最小值等属性值
data.describe()

       Population     Profit
count   97.000000  97.000000
mean     8.159800   5.839135
std      3.869884   5.510262
min      5.026900  -2.680700
25%      5.707700   1.986900
50%      6.589400   4.562300
75%      8.578100   7.046700
max     22.203000  24.147000

In [ ]:
# 画图
data.plot(kind='scatter', x='Population', y='Profit', figsize=(8, 5))
# 显示图像
plt.show()

In [15]:
def computeCost(x, y, theta):
    """
    计算代价函数
    :param x: 输入向量
    :param y: 目标向量
    :param theta: theta
    :return:
    """
    inner = np.power(((x * theta.T) - y), 2)
    return np.sum(inner) / (2 * len(x))

In [17]:
# 在数据中添加一个Ones列，方便我们计算代价和梯度，三个参数分别为，插入位置、插入列名、默认值
# 这样在切割掉目标向量之后输入向量依然保持在2列，方便与 未知数 矩阵相乘（因为未知数有2个）
data.insert(0, 'Ones', 1)

ValueError: cannot insert Ones, already exists